includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
  level: max
  paths:
    - 'src'
    - 'tests'
    - 'tools'
  bootstrapFiles:
    - 'tools/phpunit.phar'
    - 'vendor-bin/php-cs-fixer/vendor/autoload.php'
  excludePaths:
      analyseAndScan:
        - 'tests/*/Fixtures/*'

  tmpDir: .var/cache/phpstan
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

